.cart-container-mobile{
    /* border: 1px solid #4e4ffa; */
    box-shadow: none;
    width: 100%;
    /* width: 1300px; */
    /* padding: 2rem; */
}
.cart-content-mobile{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}
.cart-products-mobile{
    height: 300px;
    overflow-y: scroll;
    padding: 1rem;
}
.cart-item-mobile{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #dadfe9;
    margin-bottom: 2rem;
}
.cart-item-img-mobile{
    display: flex;
    align-items: center;
}
.cart-item-img-mobile img{
    width: 80px;
}
.cart-item-details-mobile{
    width: 200px;
}
.cart-item-details-mobile p{
    font-size: 10px;
    margin-bottom: 5px;
}
.cart-item-details-mobile h3{
    font-size: 16px;
    margin-bottom: 10px;
}
.cart-item-details-btn-mobile{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.cart-item-details-mobile input{
    border: 1px solid #aaa;
    background-color: #eee;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    width: 30px;
    padding: 3px;
}
.cart-item-details-btn-mobile button{
    width: 20px;
    height: 20px;
    text-align: center;
}
.cart-item-total-mobile{
    width:70px;
    text-align: right;
}

.checkout{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
}
.checkout-container{
    box-shadow: 0 12px 30px 0px rgba(0, 1, 193, .2);
    width: fit-content;
    padding: 4rem;
}
.checkout-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}
.checkout-content p{
    font-weight: 400;
}
.checkout-form-input input{
    padding: 3px;
    width: 250px;
    margin-bottom: 1rem;
    font-size: 14px;
    /* width: 100%; */
    /* border: none; */
    border: 1px solid #999;
    border-radius: 1px;
    padding-bottom: 5px;
    font-family: Poppins;
    box-sizing: border-box;
}
.checkout-container h2{
    margin-bottom: 2rem;
}
.checkout-form-input td{
    vertical-align: text-top;
}
.checkout-payment-list{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: .5rem;
}
.checkout-payment-items{
    max-height: 120px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.checkout-payment-items::-webkit-scrollbar {
    display: none;
}
.checkout-payment-mop{
    display: flex;
    flex-direction: column;
}
.checkout-payment-btn{
    display: flex;
    flex-direction: column;
}
.checkout-payment-btn input[type=submit]{
    font-size: 14px;
    width: 100%;
    background: none;
    border: 1px solid #4e4ffa;
    color: #818998;
    padding: .6rem 2rem;
    transition: .3s ease all;
    margin-bottom: .5rem;
}
.checkout-payment-btn input[type=submit]:hover{
    color: #fff;
    background-color: #4e4ffa;
}
.checkout-payment-btn a{
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    transition: .3s ease all;
}
.checkout-payment-btn a:hover{
    color: #4e4ffa;

}
.title{
    margin-bottom: 5vh;
}
.card-section{
    margin: auto;
    max-width: 1300px;
    width: 100%;
    box-shadow: 0 12px 30px 0px rgba(0, 1, 193, .2);
    border: transparent;
}
@media(max-width:767px){
    .card-section{
        margin: 3vh auto;
    }
}
.carts{
    background-color: #fff;
    padding: 4vh 5vh;
    max-height: 600px;
    overflow-y: scroll;
}
@media(max-width:767px){
    .carts{
        padding: 4vh;
        max-height: 400px;
        overflow-y: scroll;
    }
}
/* @media(min-width:767px){
    .carts{
        padding: 4vh;
        max-height: 400px;
        overflow-y: scroll;
    }
} */
.summary{
    background-color: #f5f6fa;
    padding: 4vh;
    color: rgb(65, 65, 65);
}
@media(max-width:767px){
    .summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}
.summary .col-2{
    padding: 0;
}
.summary .col-10
{
    padding: 0;
}.row{
    margin: 0;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}
.border{
    padding: 0 1vh;
}
p{
    margin: 1rem 0 .5rem;
}
.close{
    margin-left: auto;
    font-size: 0.7rem;
    line-height: unset;
    opacity: 1;
}
.img-fluid{
    width: 70px
}
.back-to-shop{
    margin-top: 4.5rem;
}
hr{
    margin-top: 1.25rem;
}
.btn-icon{
    color: #4e4ffa;
    border: none;
    background: none;
    margin: 0 3px;
    font-size: 10px;
    line-height: unset;
}
.btn{
    font-size: 14px;
    width: 100%;
    background: none;
    border: 1px solid #4e4ffa;
    border-radius: 0;
    color: #818998;
    padding: .6rem 2rem;
    transition: .3s ease all;
}
.btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}
.btn:hover{
    color: #fff;
    background-color: #4e4ffa;
}